.App {
  text-align: center;
}

.main-container {
  margin: 2vh 2vw;
}


.nav-btn-group {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}


.dashboard .artist-collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
}

.dashboard .artist-card {

  min-width: 150px;
  height: auto;
  background-color: #91c5f9;
  padding: 1vw;
  border-radius: 2vw;
}

.card-btn {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 1wh;
}

.card-btn>button {
  padding: auto;
  border-radius: 0.5vw;
  min-height: 3vh;
  min-width: auto;
  width: auto;
  color: black;
}

.card-btn>button:hover {
  background-color: rgb(53, 53, 255);
  color: white;
}

.card-btn :nth-child(2):hover {
  background-color: rgb(254, 65, 65);
  color: white;
}


.update-create {
  margin: 30px;
}

.update-create input {
  margin: 0.5vw;
  padding: 0.2vw;
  width: 30vw;
  height: 2.5wh;
}

.update-create .artist-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.artist-form {
  gap: 2vw;
}

.profilePage {
  background-color: green;
}